.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.event-icon {
  margin-top: 2px;
  /* margin-left: 3px; */
  font-size: 22px;
}

.fire-pin {
  margin-top: 3px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin-left: -10px;
  border: 8px solid linear-gradient(45deg, #007991 0%, #78ffd6 100%);
  background: linear-gradient(45deg, #c70000 0%, #f79595 100%);
}

.fire-event {
  color: rgb(226, 226, 9);
}

.electric-pin {
  margin-top: 3px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin-left: -10px;
  border: 8px solid linear-gradient(45deg, #007991 0%, #78ffd6 100%);
  background: linear-gradient(45deg, #c7a900 0%, #f7d895 100%);
}

.electric-event {
  color: black;
}

.event-icon-wrapper {
  margin-right: 10px;
  display: inline-flex !important;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.p-l-5 {
  padding-left: 5px !important;
}

.leaflet-container a.leaflet-popup-close-button {
  display: none;
}

.popup-close,
.popup-close:hover {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
  float: right;
}

.f-s-14 {
  font-size: 14px !important;
}

.f-s-18 {
  font-size: 18px !important;
}

.events-list-container {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 300px;
  z-index: 1000;
  background: rgb(241, 243, 244);
  cursor: default;
}

/* .events-list-container {
  cursor: pointer;
} */
